@import url("https://fonts.cdnfonts.com/css/gagalin");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  /* outline: 1px dotted black; */
}

html {
  font-size: 16px; /* 1 rem used on the page == 16 px */
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem) {
  body {
    height: 100vh;
  }

  /** Start of Main Order Page */

  section {
    background-color: #fff4e2;
  }
  .orderpage p {
    margin-top: 0;
    margin-bottom: 0.1875rem;
    font-size: small;
  }

  .orderpage h1 {
    font-family: "Gagalin", Arial, Helvetica, sans-serif;
    margin-bottom: 0.1875rem;
  }

  .orderpage {
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #fff4e2;
    height: 100%;
  }

  .orderpage > header {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers everything in the header */
    align-items: center; /* Vertically center items */
    padding: 0.3rem 0;
    color: #fff;
    background-color: #e26a05;
    width: 100%; /* Ensures it uses the full width */
    position: relative; /* Needed for positioning the back button */
  }

  .orderpage > header > div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers text horizontally */
    text-align: center; /* Centers the text inside the div */
  }

  .return-link {
    position: absolute; 
    left: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 2.5rem; 
   
  }

  .return-icon {
    width: auto;
    height: 2.4rem;
    object-fit: contain;
    max-width: 100%;
    margin-left: 1.3rem;
  }

  /* * Start of Tabs & Content Cards */

  .cart-content {
    margin: 1rem 1rem 0rem 1rem;
  }

  .title h1 {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #5a2806;
    padding-bottom: 0.5rem; /* Add some space between the card */
  }

  /* *The content card itself */
  .item-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Gap between the different cards */
  }
  .payment-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem; 
  }

  .checkout-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .checkout-card-counter {
    overflow: hidden;
    flex-shrink: 0; /* Prevent resizing */
    margin: 1rem; /* Space between image and content */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5a2806;
  }

  .food-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-grow: 1; /* Content grows to take remaining space */
  }

  .payment-methods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-grow: 1; /* Content grows to take remaining space */
  }

  .payment-method-form img {
    height: 2rem;
    width: auto;
  }

  .qty {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
  }

  input[type="radio"] {
    accent-color: #e26a05;
  }

  .food-card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #5a2806;
    font-weight: bold;
  }

  .food-card-content .price {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    color: #5a2806;
  }

  .header-row {
    display: flex;
    justify-content: space-between; /* Space out the title and the trash icon. */
    align-items: center; /* Vertically align items in the row. */
  }

  .trash-button {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0.5rem; 
  }

  /* * End of Card Styling */

  /* * Footer Styling */
  aside {
    background-color: #ff9800;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    z-index: 1;
  }

  aside div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  aside svg {
    width: 1.5rem;
    position: relative;
  }

  aside button {
    border: 0;
    border-radius: 0.5rem;
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    font-family: "DM Sans";
    color: #e26a05;
    font-weight: 600;
    position: relative;
  }

  /* * Style for the view total button. */
  .dragButton {
    width: 10%;
    height: 0.625rem;
    background-color: #e96010;
    margin: 0.3125rem auto;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Initially hidden footer content */
  .orderFooter {
    opacity: 100%;
    padding: 0;
  }

  /* Show the amount of items added to the cart */
  .order_badge {
    background-color: #e96010;
    border-radius: 2px;
    color: white;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    position: absolute; 
    top: -1rem;
    right: 0;
  }

  /* * Add more spacing to the section to be able to scroll down  */
  #modal-img {
    width: auto;
    height: 200px;
    max-width: 100%;
    max-height: 200px;
}

  .menu-middle{
    padding-bottom: 12rem;
  }

  .edit-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #5a2806;
  }

  /* * Change Hyperlink colour */
  .edit-item a {
    color: #5a2806;
  }
}

/* *********************** */
/** End of Mobile Section **/
