@import url('https://fonts.cdnfonts.com/css/gagalin');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    /* outline: 1px dotted black; */
}

html{
    font-size: 16px; /* 1 rem used on the page == 16 px */
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem ) {

    body{
        height: 100vh;
    }
    .loadingpage{
        background-color: #e26a05;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-duration: 3s;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        animation-name: loading;
        color: #fff;
    }

    .loadingpage h2{
        margin-bottom: 1rem;
        font-family: 'Gagalin', Arial, Helvetica, sans-serif;
        font-size: 2rem;
    }

    .loadingpage > img{
        max-width: 50%;
    }

    @keyframes loading{
        from {opacity: 1;}
        to {opacity: 0;}
    }

    .orderpage{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: #fff4e2;
        height: 100%;
    }

    .orderpage > header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0;
        color: #fff;
        background-color: #e26a05;
    }

    .orderpage > header > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .orderpage > header img{
        width: 10%;
        height: auto;
    }

    .orderpage nav{
        padding: 1rem 0;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        font-family: 'DM Sans';
        font-weight: 600;
    }

    aside{
        background-color: #ff9800;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        padding-bottom: 1rem;
        z-index: 1;
    }

    aside div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
    aside svg{
        width: 5%;
        position: relative;
        bottom: 1rem;
    }

    aside .button-con{
        display: flex;
        justify-content: center;
        padding: 0
    }

    aside button{
        border: 0;
        border-radius: 0.5rem;
        width:80%;
        height: 1.5rem;
        font-size: 1rem;
        font-family: 'DM Sans';
        color: #e26a05;
        font-weight: 600;
    }
}

/* *********************** */
/** End of Mobile Section **/